<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h1>データでみるdbdキラー</h1>
  <h2>
  <form action="/itiran">
		  <label for="item">並び順：</label>
	    <select name="item">
        <option value="age_id">追加年</option>
	      <option value="use">使用率</option>
		    <option value="kill">殺傷率</option>
		  </select>
    <input type="radio" name="desc" value="asc" checked>
    <label for="desc">昇順</label>
     <input type="radio" name="desc" value="desc">
    <label for="desc">降順</label>
    
    <input type="submit" value="並び替え">
 </form>
    
　<form action="/search">
    <option value=""></option>
    <form method="post">
	    <div>
		    <label for="name">検索項目</label>
		    <select name="name">
		      <option value="">選択してください</option>
          <% for( let row of data ) { console.log({row});%>
          <option value="<%= row.id %>">
            <%= row.name %>
              </option>
                <% } %>
		    </select>
     <input type="submit" value="検索">
  </form>
  <table>
    <table border="1">
    <tr>

      <td>名前</td>
      <td>使用率(%)</td>
      <td>殺傷率(%)</td>
      <td>追加年</td>
    </tr>
       <% for( let row of data ) { %>
        <tr>
            <td><%= row.name %></td>
            <td><%= row.use %></td>
            <td><%= row.kill %></td>
            <td><%= row.age %></td>
        </tr>
      <% } %>
  </table>
        <a href="/tosi">追加</a><br>
        <a href="/kesu">削除</a><br>
         <a href="/">もどる</a><br>
        </h2>
        
</body>
</html>