<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>dbd</h2>
  <table>
    <table border="1">
    <tr>
      <td>ID</td>
      <td>名前</td>
      <td>使用率</td>
      <td>殺傷率</td>
      <td>追加年</td>
    </tr>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.use %></td>
            <td><%= row.kill %></td>
            <td><%= row.age %></td>
        </tr>
      <% } %>
  </table>
        <a href="/tosi">追加</a><br>
        <a href="/kesu">削除</a><br>
         <a href="/">もどる</a><br>
</body>
</html>